---
import { SignOutButton } from "@clerk/astro/components";
---

<header class="flex items-center justify-between mb-12">
    <h1 class="text-3xl font-bold">Dashboard</h1>
    <SignOutButton
        class="bg-gradient-to-r from-blue-600 to-purple-600 px-6 py-2 rounded-full hover:from-blue-700 hover:to-purple-700 transition-all duration-300 hover:scale-105"
    >
        Cerrar sesión
    </SignOutButton>
</header>
